<h1>Here's yr main page</h1>
<a href="/">home</a>
<iframe src="https://giphy.com/embed/fXgKfzV4aaHQI" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cheezburger-cat-mountain-good-job-fXgKfzV4aaHQI">via GIPHY</a></p>